*{
  padding: 0;
  margin: 0;
}
body{
  background-color:rgb(98, 93, 93) ;
}
.container{
  height: 42vw;
  width: 40vw; 
  background: url(./clock.png) no-repeat;
  margin: auto;
  position: relative;
  background-size: 100%;
  padding-top: 10px;
  margin-top: 25px;
  background-color:rgba(0, 0, 0, 0.001) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hour, .minute, .second{
  position: absolute;
  border-radius: 10px;
  background: black;
  transform-origin: bottom center;
  transform-origin: bottom;
}
.hour{
  height: 23%;
  width: 1%;
  top: 24%;
  left: 49.43%;
  transform: rotate(1deg); 
  /* display: none;  */
}
.minute{
  height: 28%;
  width: 0.7%;
  top: 19.9%;
  left: 49.5%;  
  transform: rotate(1deg);
  /* display: none;  */
}
.second{
  height:37.3%;
    width: 0.6%;
    top: 11.5%;
    left: 49.6%;
    transform: rotate(1deg); 
}
